@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Sixtyfour&display=swap");

:root {
  --main-bg-color: #0c1f36;
  --main-color-pink: #eab2bb;
}

:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Rubik, sans-serif;
  background-color: var(--main-bg-color);
  color: white;

}

a{
    text-decoration: none;
    color: white;
}

.container{
    margin: 0 auto;
    position: relative;
    max-width: 800px;
}

#stripes {
  position: relative;
  height: 100px;
}

#stripe1,
#stripe2,
#stripe3 {
  position: absolute;
  left: 0px;
  height: 50px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 2px 0 2px #435974;
}

#stripe1 {
  top: 30px;
  width: 36%;
  max-width: 500px;
  background-color: rgb(0, 244, 244);
  animation: 0.3s ease-out 0s 1 wait, 0.7s ease-out 0.3s 1 slideInFromLeft;
  /*background-color: white;
    border: 24px solid rgb(0,244,244);*/
}

#stripe2 {
  top: 90px;
  width: 26%;
  max-width: 350px;
  background-color: rgb(244, 0, 179);
  animation: 0.5s ease-out 0s 1 wait, 0.7s ease-out 0.5s 1 slideInFromLeft;
}

#stripe3 {
  top: 150px;
  width: 16%;
  max-width: 200px;
  background-color: rgb(163, 0, 244);
  animation: 0.8s ease-out 0s 1 wait, 0.7s ease-out 0.8s 1 slideInFromLeft;
}

#innerStripe1 {
  position: absolute;
  top: 24px;
  left: 0;
  height: 2px;
  width: 90%;
  background-color: white;
  box-shadow: 0 0 5px rgb(171, 247, 247);
  box-shadow: inset 0px 0px 1px rgb(0, 244, 244);
}

.capt {
  text-align: right;
  padding: 30px;
  font-family: "Sixtyfour", sans-serif;
  font-size: 4rem;
  animation: 2.5s ease-out 0s 1 blurIn;
  text-shadow: 2px 3px 4px rgb(163, 0, 244);
}

.talk{
    font-family: Raleway, Roboto, sans-seirf;
    font-size: 1.3rem;
    color: white;
    text-shadow: 1px 2px 3px rgb(163, 0, 244);
    padding: 0 0.6em;
    text-transform: capitalize;
    line-height: 1.6;
}

.big{
    font-size: 1.6rem;
    color:rgb(244, 0, 179);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 244, 244);
}

#small{
    font-size: 0.4em;
}

@keyframes wait {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
